html, body, canvas, h1, button, a, footer, div {
  font-family: 'FyodorBold';
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

body {
  box-sizing: content-box;
  line-height: 1.1666666666;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-image: url("../images/tetris_background.jpg");
}

h1 {
  width: 700px;
  text-align: center;
  font-size: 50px;
  margin: 40px 0 25px 0;
  color: white;
}

.game {
  margin: auto;
}

.game-container {
  width: 700px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.board {
  border: 2px solid grey;
}

.side-bar-container {
  margin-left: 10px;
}

.button-container {
    width: 130px;
    height: 65px;
    border: 2px solid grey;
    border-bottom: none;
    display: flex;
    justify-content: center;
}

.next-piece-container {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  margin-bottom: 5px;
  border: 2px solid grey;
}

.score-container {
  background: black;
  margin-bottom: 5px;
  border: 2px solid grey;
  padding-left: 5px;
  padding-bottom: 2px;
  height: 40px;
}

.button-container:last-of-type {
  border-bottom: 2px solid grey;
  margin-top: 5px;
}

.game-container button {
  width: 100%;
  text-align: center;
  color: white;
  background: #A9A9A9;
}

.game-container button:hover {
  cursor: pointer;
}

footer {
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
}

a {
  font-size: 20px;
  height: 20px;
  color: white;
}
