html, body, canvas, h1, button {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: content-box;
  font: inherit;
  text-align: inherit;
  font-family: 'FyodorBold';
  font-style: bold;
  background: transparent;
}

body {
  /*width: 1000px;*/
  display: flex;
  flex-direction: column;
  align-content: center;
  background-image: url("../images/tetris_background.jpg");
  /*background-color: #87CEFA;*/
}

.stage {
  /*margin: auto;*/
}

h1 {
  text-align: center;
  font-size: 50px;
  margin: 40px 0 25px 0;
  color: white;
}

.game-container {
  display: flex;
  justify-content: center;
}

.board {
  border: 2px solid grey;
}

.side-bar-container {
  margin-left: 10px;
}

.button-container {
    width: 130px;
    height: 65px;
    border: 2px solid grey;
    border-bottom: none;
    display: flex;
    justify-content: center;
}

.next-piece-container {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  margin-bottom: 5px;
  border: 2px solid grey;
}

.button-container:last-of-type {
  border-bottom: 2px solid grey;
  margin-top: 5px;
}

.game-container button {
  width: 100%;
  text-align: center;
  color: white;
  background: #A9A9A9;
}

.game-container button:hover {
  cursor: pointer;
}
